<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.puzly.notification">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity
            android:name="co.puzly.notification.ResultActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />

        <meta-data
            android:name="org.godotengine.plugin.v1.NotificationScheduler"
            android:value="co.puzly.notification.NotificationScheduler" />

        <receiver
            android:name="co.puzly.notification.NotificationReceiver"
            android:process=":remote" />

        <service android:name="co.puzly.notification.NotificationService" />
    </application>

</manifest>